@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function vwm($target) {
  $vw-context: (1200 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@font-face {
  font-family: 'Agency FB Bold';
  src: url('../font/AgencyFBBold.ttf');
}
@font-face {
  font-family: 'Agency FB';
  src: url('../font/AGENCYR.TTF');
}

//reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fixCen{
  width: 1286px;
  margin: 0 auto;
  position: relative;
  @media only screen and (max-width:1919px) {
    width: vw(1286px);
  }
  @media only screen and (max-width:767px) {
    width: 100%;
  }
}
.rs{
  padding: 0;
  margin: 0;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.error, .errors {
  margin-bottom: -5px;
  color: red;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 12px;
}
.spr{
  background: url("../images/social.png");
  @media only screen and (max-width:1023px) {
    background-size: 314px 43px;
  }
  @media only screen and (max-width:567px) {
    background-size: 157px 22px;
  }
}
.unipet-wrapper{
  width: 100%;
  overflow-x: hidden;
  font-family: 'Agency FB';
  .header-top{
    background: url("../images/bg-header.png")50% 0 no-repeat;
    height: 153px;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    padding: 25px 2% 0;
    display: flex;
    justify-content: space-between;
    .logo{
      display: block;
      background: url("../images/logo.png") 0/100% no-repeat;
      width: 302px;
      height: 202px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -151px;
    }
    .list-menu{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
    ul{
      display: flex;
      li{
        a{
          display: block;
          color: #fff;
          font-size: 36px;
          margin: 0 30px;
          font-family: 'Agency FB Bold';
        }
      }
    }
    .menu-left{
      width: calc(50% - 250px);
      display: flex;
      justify-content: flex-end;
    }
    .menu-right{
      width: calc(50% - 250px);
      display: flex;
      .btn-connect{
        font-size: 0;
        background: url("../images/btn-connect.png") 0/100% no-repeat;
        width: 220px;
        height: 49px;
      }
    }
    @media only screen and (max-width: 1919px) {
      background-size: 100% 100%;
      width: vw(1920px);
      height: vw(153px);
      padding: vw(25px) 2% 0;
      .logo{
        width: vw(302px);
        height: vw(202px);
        margin-left: vw(-151px);
      } 
      ul{
        li{
          a{
            font-size: vw(36px);
            margin: 0 vw(30px);
          }
        }
      }
      .menu-left{
        width: calc(50% - vw(250px));
      }
      .menu-right{
        width: calc(50% - vw(250px));
        .btn-connect{
          width: vw(220px);
          height: vw(49px);
        }
      }
    }
    @media only screen and (max-width: 567px) {
      background: #000000d4;
      padding: 0;
      height: 40px;
      flex-direction: column;
      justify-content: flex-start;
      .logo{
        width: 151px;
        height: 101px;
        margin-left: -75px;
        
      }
      .list-menu{
        flex-direction: column;
        justify-content: flex-start;
        display: none;
        position: fixed;
        top: 40px;
        width: 100%;
        background: #000000d4;
      }
      ul{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: flex-start!important;
        li{
          margin-bottom: 10px;
          border-bottom: 1px solid #ffffff59;
          padding: 10px 0;
          a{
            font-size: 24px;
          }
        }
      }
      .menu-left{
        width: 100%;
      }
      .menu-right{
        width: 100%;
        .btn-connect{
         background-size: 110px 25px;
          width: 110px;
          height: 25px;
        }
        li{
          &:last-child{
            border-bottom: 0;
          }
        }
      }
      &.active{
        .logo{
          display: none;
        }
      .list-menu{
        display: flex;
      }

      }
    }
  }
  .section1{

  }
  .section2{
    background: url("../images/bg2.png") 50% 0 no-repeat #153e90;
    min-height: 1235px;
    margin-top: -20px;
    position: relative;
    .title-1{
      display: block;
      background: url("../images/title-1.png") 0/100% no-repeat;
      width: 1315px;
      height: 99px;
      margin: 0 auto;
    }
    .box-choose{
      background: url("../images/bg-nv.png") 0/100% no-repeat;
      width: 930px;
      height: 849px;
      margin: 200px auto 0;
      position: relative;
      .btn-join{
        display: block;
        background: url("../images/btn-join.png") 0/100% no-repeat;
        width: 573px;
        height: 155px;
        position: absolute;
        bottom: -75px;
        left: 50%;
        margin-left: -286px;
      }
    }
    .tab-sex{
      a{
        display: block;
        width: 287px;
        height: 312px;
        position: absolute;
        font-size: 0;
        top: 50%;
        margin-top: -156px;
      }
      .btn-male{
        background: url("../images/icon-male.png") 0/100% no-repeat;
        right: -250px;
      }
      .btn-female{
        background: url("../images/icon-female.png") 0/100% no-repeat;
        left: -250px;
      }
    }
    .tab-content-sex{
      width: 541px;
      height: 742px;
      position: absolute;
      bottom: 160px;
      left: 50%;
      margin-left: -270px;
      &::before{
       display: block;
       content: '';
       background: url("../images/light-nv.png") 0/100% no-repeat;
       width: 575px;
       height: 532px;
       position: absolute;
       bottom: 47px;
       left: 50%;
       margin-left: -270px;
      }
    }
    @media only screen and (max-width:1919px) {
      background-size: 100% 100%;
      min-height: vw(1235px);
      margin-top: vw(-20px);
      .title-1{
        width: vw(1315px);
        height: vw(99px);
      }
      .box-choose{
        width: vw(930px);
        height: vw(849px);
        margin: vw(200px) auto 0;
        .btn-join{
          width: vw(573px);
          height: vw(155px);
          bottom: vw(-75px);
          margin-left: vw(-286px);
        }
      }
      .tab-sex{
        a{
          width: vw(287px);
          height: vw(312px);
          margin-top: vw(-156px);
        }
        .btn-male{
          right: vw(-250px);
        }
        .btn-female{
          left: vw(-250px);
        }
      }
      .tab-content-sex{
        width: vw(541px);
        height: vw(742px);
        bottom: vw(160px);
        margin-left: vw(-270px);
        &::before{
         width: vw(575px);
         height: vw(532px);
         bottom: vw(47px);
         margin-left: vw(-270px);
        }
      }
    }
    @media only screen and (max-width: 567px) {
      .title-1{
        width: vwm(1315px);
        height: vwm(99px);
        margin-left: vwm(-70px);
      }
      .box-choose{
        width: vwm(930px);
        height: vwm(849px);
        margin: vwm(200px) 0 0;
        .btn-join{
          width: vwm(573px);
          height: vwm(155px);
          bottom: 5px;
          margin-left: vwm(-286px);
        }
      }
      .tab-sex{
        a{
          width: vwm(287px);
          height: vwm(312px);
          margin-top: vwm(-156px);
        }
        .btn-male{
          right: vwm(-250px);
        }
        .btn-female{
          top: vwm(100px);
          left: auto;
          right: vwm(-240px);
        }
      }
      .tab-content-sex{
        width: vwm(541px);
        height: vwm(742px);
        bottom: vwm(160px);
        margin-left: vwm(-270px);
        &::before{
         width: vwm(575px);
         height: vwm(532px);
         bottom: vwm(47px);
         margin-left: vwm(-270px);
        }
      }
    }
  }
  .section3{
    background: url("../images/bg3.jpg") 50% 0 no-repeat;
    min-height: 1468px;
    padding: 50px 0;
    .title-2{
      display: block;
      background: url("../images/title-2.png") 0/100% no-repeat;
      width: 1461px;
      height: 99px;
      margin: 0 auto;
    }
    .box-nhanvat{
      padding: 0px 150px;
      .slider-for{
        height: 630px;
        color: #fff;
        font-size: 40px;
      }
      .item{
        display: flex!important;
        justify-content: space-between;
      }
      .info{
        flex: 1;
        max-width: 600px;
        h5{
          font-size: 72px;
          margin-bottom: 50px;
          background: linear-gradient(to bottom, #ffff 20%, #9be4ff 80%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: 'Agency FB Bold';
        }
      }
      .images{
        background: url("../images/bg-nv2.png") 0/100% no-repeat;
        width: 720px;
        height: 612px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 100px;
        span{
          display: block;
          margin: 0 auto;
          width: 417px;
          height: 488px;
        }
        img{
          display: block;
        }
      }
      .thumb-pet{
        position: relative;
        .content-pet{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 30px;
        }
        .name-pet{
          display: flex;
          align-items: center;
          color: #fff;
          font-size: 36px;
          margin-bottom: 15%;
          .name-content{
            margin-left: 10px;
            background: linear-gradient(to bottom, white 20%, #9be4ff 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Agency FB Bold';
          }
        }
        .img-pet{
          width: 90%;
          margin: 0 auto;

        }
      }
      .slider-nav{
        padding-top: 50px;
        .slick-slide{
          display: block;
          margin: 0 10px;
        }
      }
    }
    @media only screen and (max-width:1919px) {
      background-size: 100% 100%;
      min-height: vw(1468px);
      padding: vw(50px) 0;
      .title-2{
        width: vw(1461px);
        height: vw(99px);
      }
      .box-nhanvat{
        padding: 0px vw(150px);
        .slider-for{
          height: vw(630px);
          font-size: vw(40px);
        }
        .info{
          h5{
            font-size: vw(72px);
            margin-bottom: vw(50px);
          }
        }
        .images{
          width: vw(720px);
          height: vw(612px);
          padding-bottom: vw(100px);
          span{
            width: vw(417px);
            height: vw(488px);
          }
        }
        .thumb-pet{
          .content-pet{
            padding: vw(30px);
          }
          .name-pet{
            font-size: vw(36px);
          }
        }
        .slider-nav{
          padding-top: vw(50px);
          .slick-slide{
            display: block;
            margin: 0 5px;
          }
        }
      }
    }
    @media only screen and (max-width: 567px) {
      min-height: vwm(1468px);
      padding: vwm(50px) 0;
      .title-2{
        width: vwm(1461px);
        height: vwm(99px);
        margin-left: vwm(-130px);
      }
      .box-nhanvat{
        padding: 0px vwm(50px);
        .slider-for{
          height: auto;
          font-size: 18px;
        }
        .info{
          padding-top: 10px;
          h5{
            font-size: 24px;
            margin-bottom: vwm(50px);
            text-align: center;
          }
        }
        .item{
          flex-direction: column;
        }
        .images{
          width: vwm(720px);
          height: vwm(612px);
          padding-bottom: vwm(100px);
          margin: 0 auto;
          span{
            width: vwm(417px);
            height: vwm(488px);
          }
        }
        .thumb-pet{
          .content-pet{
            padding: vwm(30px);
          }
          .name-pet{
            font-size: 20px;
          }
        }
        .slider-nav{
          padding-top: vwm(50px);
          .slick-slide{
            display: block;
            margin: 0 5px;
          }
        }
      }
    }
  }
  .section4{
    background: url("../images/bg4.jpg") 50% 0 no-repeat;
    min-height: 1258px;
    padding: 50px 0;
    .title-3{
      display: block;
      background: url("../images/title-3.png") 0/100% no-repeat;
      width: 1100px;
      height: 99px;
      margin: 0 auto;
    }
    .box-trailer{
      background: url("../images/bg-trailer.png") 0/100% no-repeat;
      width: 1314px;
      height: 788px;
      margin: 75px auto;
      position: relative;
      padding: 30px 60px 85px;
      &::before{
        display: block;
        content: '';
        background: url("../images/icon-pet2.png") 0/100% no-repeat;
        width: 362px;
        height: 435px;
        position: absolute;
        top: -280px;
        right: -100px;
        animation: gif1 2s infinite linear;

      }
      @keyframes gif1 {
        0% {
          background: url("../images/icon-pet2.png") 0/100% no-repeat;
        }
        50% {
          background: url("../images/icon-pet1.png") 0/100% no-repeat;
        }
        100% {
          background: url("../images/icon-pet3.png") 0/100% no-repeat;
        }
      }
      &::after{
        display: block;
        content: '';
        background: url("../images/icon-pet1.png") 0/100% no-repeat;
        width: 525px;
        height: 477px;
        position: absolute;
        bottom: -100px;
        left: -300px;
      }
    }
    @media only screen and (max-width: 1919px) {
      background-size: 100% 100%;
      min-height: vw(1258px);
      padding: vw(50px) 0;
      .title-3{
        width: vw(1100px);
        height: vw(99px);
      }
      .box-trailer{
        width: vw(1314px);
        height: vw(788px);
        margin: vw(75px) auto;
        padding: vw(30px) vw(60px) vw(85px);
        &::before{
          width: vw(362px);
          height: vw(435px);
          top: vw(-280px);
          right: vw(-100px);
        }
        &::after{
          width: vw(525px);
          height: vw(477px);
          bottom: vw(-100px);
          left: vw(-300px);
        }
      }
    }
    @media only screen and (max-width:567px) {
      min-height: vwm(1258px);
      padding: vwm(150px) 0;
      .title-3{
        width: vwm(1100px);
        height: vwm(99px);
      }
      .box-trailer{
        width: vwm(1200px);
        height: vwm(700px);
        margin: vwm(75px) auto;
        padding: vwm(30px) vwm(60px) vwm(85px);
        &::before{
          width: vwm(362px);
          height: vwm(435px);
          top: vwm(-280px);
          right: vwm(-100px);
        }
        &::after{
          width: vwm(525px);
          height: vwm(477px);
          bottom: vwm(-200px);
          left: vwm(-200px);
        }
      }
    }
  }
  .section5{
    background: url("../images/bg5.jpg") 50% 0 no-repeat;
    min-height: 1081px;
    padding: 50px 0;
    .title-4{
      display: block;
      background: url("../images/title-4.png") 0/100% no-repeat;
      width: 1044px;
      height: 99px;
      margin: 0 auto;
    }
    .box-team{
      padding: 50px 200px 0;
      .item-team{
        .item-member{
          margin-bottom: 50px;
          text-align: center;
          &:last-child{
            margin-bottom: 0;
          }
          .avatar{
            display: block;
            background: url("../images/bg-avatar.png") 0/100% no-repeat;
            width: 267px;
            height: 267px;
            padding: 20px;
            overflow: hidden;
            margin: 0 auto;
            span{
              display: block;
              width: 100%;
              height: 100%;
            }
            img{
              width: 100%;
            }
          }
          .name{
            display: block;
            color: #fff;
            font-size: 24px;
          }
          .position{
            display: block;
            color: #1ffffc;
            font-size: 20px;
          }
          .lst-social{
            display: flex;
            justify-content: center;
            li{
              a{
                display: block;
                width: 40px;
                height: 40px;
                margin: 10px;
                &.icon-fb{
                  background: url("../images/icon-fb1.png") 0/100% no-repeat;
                }
                &.icon-in{
                  background: url("../images/icon-in.png") 0/100% no-repeat;
                }
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width:1919px) {
      background-size: 100% 100%;
      min-height: vw(1081px);
      padding: vw(50px) 0;
      .title-4{
        width: vw(1044px);
        height: vw(99px);
      }
      .box-team{
        padding: vw(50px) vw(200px) 0;
        .item-team{
          .item-member{
            margin-bottom: vw(50px);
            .avatar{
              width: vw(267px);
              height: vw(267px);
              padding: vw(20px);
            }
            .name{
              font-size: vw(24px);
            }
            .position{
              font-size: vw(20px);
            }
            .lst-social{
              li{
                a{
                  width: vw(40px);
                  height: vw(40px);
                  margin: vw(10px);
                }
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width:567px) {
      min-height: vwm(1081px);
      padding: vwm(50px) 0;
      .title-4{
        width: vwm(1044px);
        height: vwm(99px);
      }
      .box-team{
        padding: vwm(50px) vwm(50px) 0;
        .item-team{
          .item-member{
            margin-bottom: vwm(50px);
            .avatar{
              width: vwm(400px);
              height: vwm(400px);
              padding: vwm(20px);
            }
            .name{
              font-size: 18px;
            }
            .position{
              font-size: 16px;
            }
            .lst-social{
              li{
                a{
                  width: vwm(80px);
                  height: vwm(80px);
                  margin: vwm(10px);
                }
              }
            }
          }
        }
      }
    }
  }
  .section6{
    background: url("../images/bg6.jpg") 50% 0 no-repeat;
    min-height: 1091px;
    padding: 75px 0 100px;
    .title-5{
      display: block;
      background: url("../images/title-5.png") 0/100% no-repeat;
      width: 1128px;
      height: 99px;
      margin: 0 auto 50px;
    }
    .top-date{
      display: block;
      text-align: center;
      font-size: 105px;
      color: #1ffffc;
      margin: 0 auto 50px;
    }
    .list-progress{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 1;
      &::before{
        display: block;
        content: '';
        background: url("../images/icon-pet3.png") 0/100% no-repeat;
        width: 417px;
        height: 488px;
        position: absolute;
        right: -170px;
        top: -250px;
      }
      &::after{
        display: block;
        content: '';
        background: url("../images/icon-pet4.png") 0/100% no-repeat;
        width: 352px;
        height: 511px;
        position: absolute;
        left: -170px;
        bottom: -100px;
      }
      .item-progress{
        width: 50%;
        position: relative;
        height: auto;
        .date{
          color: #1ffffc;
          font-size: 85px;
          margin-bottom: 20px;
          margin-top: -30px;
          font-family: 'Agency FB Bold';
        }
        ul{
          li{
            color: #fff;
            font-size: 55px;
            margin-bottom: 10px;
          }
        }
        .icon-level{
          display: block;
          position: absolute;
          width: 117px;
          height: 117px;
          background: url("../images/icon-time.png") 0/100% no-repeat;
          top: 0; 
          &::before{
            display: block;
            content: '';
            background: url("../images/line1.png") 0/100% no-repeat;
            width: 5px;
            height: 178px;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -2px;
          } 
          &::after{
            display: block;
            content: '';
            background: url("../images/line1.png") 0/100% no-repeat;
            transform: rotate(-90deg);
            width: 5px;
            height: 178px;
            position: absolute;
            bottom: -32px;
            left: -60px;
          } 
        }
        &:nth-child(odd){
          .icon-level{
            right: -59px;
          }
        }
        &:nth-child(even){
          padding-left: 235px;
          margin-top: 270px;
          .icon-level{
            left: -59px;
            &::after{
              left: auto;
              right: -60px;
            }
          }
        }
        &:nth-child(3){
          margin-top: -100px;
        }
        &:nth-child(4){
          margin-top: 200px;
        }
        &.active{
          .icon-level{
            background: url("../images/icon-time-act.png") 0/100% no-repeat;
          }
        }
      }
    }
    @media only screen and (max-width: 1919px) {
      background-size: 100% 100%;
      min-height: vw(1091px);
      padding: vw(75px) 0 vw(100px);
      .title-5{
        width: vw(1128px);
        height: vw(99px);
        margin: 0 auto vw(50px);
      }
      .top-date{
        font-size: vw(105px);
        margin: 0 auto vw(50px);
      }
      .list-progress{
        &::before{
          width: vw(417px);
          height: vw(488px);
          right: vw(-170px);
          top: vw(-250px);
        }
        &::after{
          width: vw(352px);
          height: vw(511px);
          left: vw(-170px);
          bottom: vw(-100px);
        }
        .item-progress{
          .date{
            font-size: vw(85px);
            margin-bottom: vw(20px);
            margin-top: vw(-30px);
          }
          ul{
            li{
              font-size: vw(55px);
              margin-bottom: vw(10px);
            }
          }
          .icon-level{
            width: vw(117px);
            height: vw(117px);
            &::before{
              width: vw(5px);
              height: vw(178px);
              margin-left: vw(-2px);
            } 
            &::after{
              width: vw(5px);
              height: vw(178px);
              bottom: vw(-32px);
              left: vw(-60px);
            } 
          }
          &:nth-child(odd){
            .icon-level{
              right: vw(-59px);
            }
          }
          &:nth-child(even){
            padding-left: vw(235px);
            margin-top: vw(270px);
            .icon-level{
              left: vw(-59px);
              &::after{
                right: vw(-60px);
              }
            }
          }
          &:nth-child(3){
            margin-top: vw(-100px);
          }
          &:nth-child(4){
            margin-top: vw(200px);
          }
        }
      }
    }
    @media only screen and (max-width:567px) {
      min-height: vwm(1091px);
      padding: vwm(75px) 0 vwm(100px);
      .title-5{
        width: vwm(1128px);
        height: vwm(99px);
        margin: 0 auto vwm(50px);
      }
      .top-date{
        font-size: vwm(105px);
        margin: vwm(100px) auto vwm(50px);
      }
      .list-progress{
        padding: 0 10px;
        &::before{
          width: vwm(417px);
          height: vwm(488px);
          right: 0;
          top: vwm(-250px);
        }
        &::after{
          width: vwm(352px);
          height: vwm(511px);
          left: 0;
          bottom: vwm(-100px);
        }
        .item-progress{
          .date{
            font-size: vwm(85px);
            margin-bottom: vwm(20px);
            margin-top: vwm(-30px);
          }
          ul{
            li{
              font-size: vwm(55px);
              margin-bottom: vwm(10px);
            }
          }
          .icon-level{
            width: vwm(117px);
            height: vwm(117px);
            &::before{
              width: vwm(5px);
              height: vwm(178px);
              margin-left: vwm(-2px);
            } 
            &::after{
              width: vwm(5px);
              height: vwm(178px);
              bottom: vwm(-32px);
              left: vwm(-60px);
            } 
          }
          &:nth-child(odd){
            .icon-level{
              right: vwm(-59px);
            }
          }
          &:nth-child(even){
            padding-left: vwm(165px);
            margin-top: vwm(270px);
            .icon-level{
              left: vwm(-59px);
              &::after{
                right: vwm(-60px);
              }
            }
          }
          &:nth-child(3){
            margin-top: vwm(-100px);
          }
          &:nth-child(4){
            margin-top: vwm(200px);
          }
        }
      }
    }
  }
  .section7{
    background: url("../images/bg7.jpg") 50% 0 no-repeat;
    min-height: 2803px;
    padding: 50px 0 0;
    .title-6{
      display: block;
      background: url("../images/title-6.png") 0/100% no-repeat;
      width: 1100px;
      height: 99px;
      margin: 0 auto;
    }
    .box-partner{
      padding: 150px 50px;
      display: flex;
      flex-wrap: wrap;
      span{
        display: block;
        width: calc(90%/6);
        text-align: center;
        margin-bottom: 70px;
        img{
          max-width: 100%;
        }
      }
    }
    @media only screen and (max-width: 1919px) {
      background-size: 100% 100%;
      min-height: vw(1803px);
      padding: vw(50px) 0 0;
      .title-6{
        width: vwm(1100px);
        height: vwm(99px);
      }
      .box-partner{
        padding: vw(150px) vw(50px);
        span{
          margin-bottom: vw(70px);
        }
      }
    }
    @media only screen and (max-width:567px) {
      .box-partner{
        span{
          width: calc(100%/4);
        }
      }
    }
  }
  .footer{
    font-family: 'Agency FB Bold';
    .inner-footer{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 10%;
      position: relative;
      margin-bottom: 500px;
      &::before{
        display: block;
        content: '';
        background: url("../images/icon-pet5.png") 0/100% no-repeat;
        width: 630px;
        height: 848px;
        position: absolute;
        bottom: -500px;
        right: 0;
      }
      .item{
        width: 30%;
        position: relative;
        z-index: 2;
        h4{
          color: #1ffffc;
          font-size: 90px;
          margin-bottom: 50px;
        }
        ul{
          li{
            margin-bottom: 50px;
            a{
              display: block;
              color: #fff;
              font-size: 60px;
              &:hover{
                color: #1ffffc;
              }
            }
          }
        }
      }
    }
    .info-footer{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding:  0 50px 20px;
      .logo-partner{
        display: block;
        width: 25%;
      }
      .info-our{
        h4{
          color: #fff;
          text-align: center;
          font-size: 48px;
          margin-bottom: 30px;
        }
        ul{
          display: flex;
          li{
            a{
              display: block;
              width: 82px;
              height: 86px;
              margin: 0 20px;
            }
            .icon-fb{
              background-position: 0 0;
            }
            .icon-game{
              background-position: -136px 0;
            }
            .icon-telegrame{
              background-position: -275px 0;
            }
            .icon-youtube{
              background-position: -412px 0;
            }
            .icon-tiktok{
              background-position: -546px 0;
            }
          }
        }
      }
    }
    @media only screen and (max-width:1919px) {
      .inner-footer{
        margin-bottom: vw(500px);
        &::before{
          width: vw(630px);
          height: vw(848px);
          bottom: vw(-500px);
        }
        .item{
          h4{
            font-size: vw(90px);
            margin-bottom: vw(50px);
          }
          ul{
            li{
              margin-bottom: vw(50px);
              a{
                font-size: vw(60px);
              }
            }
          }
        }
      }
      .info-footer{
        padding:  0 vw(50px) vw(20px);
        .info-our{
          h4{
            font-size: vw(48px);
            margin-bottom: vw(30px);
          }
        }
      }
    }
    @media only screen and (max-width: 1023px) {
      .info-footer{
        .info-our{
          ul{
            li{
              a{
                width: 41px;
                height: 43px;
                margin: 0 10px;
              }
              .icon-fb{
                background-position: 0 0;
              }
              .icon-game{
                background-position: -68px 0;
              }
              .icon-telegrame{
                background-position: -137px 0;
              }
              .icon-youtube{
                background-position: -206px 0;
              }
              .icon-tiktok{
                background-position: -273px 0;
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width:567px) {
      .inner-footer{
        margin-bottom: vwm(200px);
        &::before{
          width: vwm(630px);
          height: vwm(848px);
          bottom: vwm(-100px);
        }
        .item{
          width: 50%;
          margin-bottom: 20px;
          h4{
            font-size: 24px;
            margin-bottom: 20px;
          }
          ul{
            li{
              margin-bottom: 20px;
              a{
                font-size: 20px;
              }
            }
          }
        }
      }
      .info-footer{
        .info-our{
          ul{
            li{
              a{
                width: 20px;
                height: 20px;
                margin: 0 5px;
              }
              .icon-fb{
                background-position: 0 0;
              }
              .icon-game{
                background-position: -34px 0;
              }
              .icon-telegrame{
                background-position: -68px 0;
              }
              .icon-youtube{
                background-position: -103px 0;
              }
              .icon-tiktok{
                background-position: -136px 0;
              }
            }
          }
        }
      }
    }
  }
  
}
.slick-arrow{
  width: 71px;
  height: 93px;
  &::before{
    display: none;
  }
  &.slick-prev{
    background: url("../images/btn-prev.png") 0/100% no-repeat;
    left: -70px;
  }
  &.slick-next{
    background: url("../images/btn-next.png") 0/100% no-repeat;
    right: -70px;
  }
  @media only screen and (max-width:1919px) {
    width: vw(71px);
    height: vw(93px);
    &.slick-prev{
      left: vw(-70px);
    }
    &.slick-next{
      right: vw(-70px);
    }
  }
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  margin-top: 6px;
  margin-left: 10px;
  display: none;
  &:focus{
    outline: none;
  }
  @media only screen and (max-width:567px) {
    display: block;
  }
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 11px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}


#menu01.active span:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
}
#menu01.active span:nth-of-type(2) {
  opacity: 0;
}
#menu01.active span:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
}