@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function vwm($target) {
  $vw-context: (720 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@font-face {
  font-family: 'Agency FB';
  src: url('font/AgencyFBBold.ttf');
}

//reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fixCen{
  width: 1286px;
  margin: 0 auto;
  position: relative;
}
.rs{
  padding: 0;
  margin: 0;
}
.error, .errors {
  margin-bottom: -5px;
  color: red;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 12px;
}
.unipet-wrapper{
  width: 100%;
  overflow-x: hidden;
  font-family: 'Agency FB';
  .header-top{
    background: url("../images/bg-header.png")50% 0 no-repeat;
    height: 153px;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    padding: 25px 2% 0;
    display: flex;
    justify-content: space-between;
    .logo{
      display: block;
      background: url("../images/logo.png") 0/100% no-repeat;
      width: 302px;
      height: 202px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -151px;
    }
    ul{
      display: flex;
      li{
        a{
          display: block;
          color: #fff;
          font-size: 36px;
          margin: 0 30px;
        }
      }
    }
    .menu-left{
      width: calc(50% - 250px);
      display: flex;
      justify-content: flex-end;
    }
    .menu-right{
      width: calc(50% - 250px);
      display: flex;
      .btn-connect{
        font-size: 0;
        background: url("../images/btn-connect.png") 0/100% no-repeat;
        width: 220px;
        height: 49px;
      }
    }
  }
  .section1{
    
  }
  .section2{
    background: url("../images/bg2.png") 50% 0 no-repeat #153e90;
    min-height: 1235px;
    margin-top: -20px;
    position: relative;
    .title-1{
      display: block;
      background: url("../images/title-1.png") 0/100% no-repeat;
      width: 1315px;
      height: 99px;
      margin: 0 auto;
    }
    .box-choose{
      background: url("../images/bg-nv.png") 0/100% no-repeat;
      width: 930px;
      height: 849px;
      margin: 200px auto 0;
      position: relative;
      .btn-join{
        display: block;
        background: url("../images/btn-join.png") 0/100% no-repeat;
        width: 573px;
        height: 155px;
        position: absolute;
        bottom: -75px;
        left: 50%;
        margin-left: -286px;
      }
    }
    .tab-sex{
      a{
        display: block;
        width: 287px;
        height: 312px;
        position: absolute;
        font-size: 0;
        top: 50%;
        margin-top: -156px;
      }
      .btn-male{
        background: url("../images/icon-male.png") 0/100% no-repeat;
        right: -250px;
      }
      .btn-female{
        background: url("../images/icon-female.png") 0/100% no-repeat;
        left: -250px;
      }
    }
    .tab-content-sex{
      width: 541px;
      height: 742px;
      position: absolute;
      bottom: 160px;
      left: 50%;
      margin-left: -270px;
      &::before{
       display: block;
       content: '';
       background: url("../images/light-nv.png") 0/100% no-repeat;
       width: 575px;
       height: 532px;
       position: absolute;
       bottom: 47px;
       left: 50%;
       margin-left: -270px;
      }
    }
  }
  .section3{
    background: url("../images/bg3.jpg") 50% 0 no-repeat;
    min-height: 1468px;
    .title-2{
      display: block;
      background: url("../images/title-2.png") 0/100% no-repeat;
      width: 1461px;
      height: 99px;
      margin: 0 auto;
    }
  }
  .section4{
    background: url("../images/bg4.jpg") 50% 0 no-repeat;
    min-height: 1258px;
    .title-3{
      display: block;
      background: url("../images/title-3.png") 0/100% no-repeat;
      width: 1100px;
      height: 99px;
      margin: 0 auto;
    }
    .box-trailer{
      background: url("../images/bg-trailer.png") 0/100% no-repeat;
      width: 1314px;
      height: 788px;
      margin: 75px auto;
      position: relative;
      padding: 30px 60px 85px;
      &::before{
        display: block;
        content: '';
        background: url("../images/icon-pet2.png") 0/100% no-repeat;
        width: 362px;
        height: 435px;
        position: absolute;
        top: -280px;
        right: -100px;
      }
      &::after{
        display: block;
        content: '';
        background: url("../images/icon-pet1.png") 0/100% no-repeat;
        width: 525px;
        height: 477px;
        position: absolute;
        bottom: -100px;
        left: -300px;
      }
    }
  }
  .section5{
    background: url("../images/bg5.jpg") 50% 0 no-repeat;
    min-height: 1081px;
    .title-4{
      display: block;
      background: url("../images/title-4.png") 0/100% no-repeat;
      width: 1044px;
      height: 99px;
      margin: 0 auto;
    }
  }
  .section6{
    background: url("../images/bg6.jpg") 50% 0 no-repeat;
    min-height: 1091px;
    .title-5{
      display: block;
      background: url("../images/title-5.png") 0/100% no-repeat;
      width: 1128px;
      height: 99px;
      margin: 0 auto;
    }
    .list-progress{
      display: flex;
      flex-wrap: wrap;
      .item-progress{
        width: 50%;
        position: relative;
        height: auto;
        .date{
          color: #1ffffc;
          font-size: 85px;
          margin-bottom: 20px;
        }
        ul{
          li{
            color: #fff;
            font-size: 55px;
            margin-bottom: 10px;
          }
        }
        .icon-level{
          display: block;
          position: absolute;
          width: 117px;
          height: 117px;
          background: url("../images/icon-time.png") 0/100% no-repeat;
          top: 0; 
          &::before{
            display: block;
            content: '';
            background: url("../images/line1.png") 0/100% no-repeat;
            width: 5px;
            height: 178px;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -2px;
          } 
          &::after{
            display: block;
            content: '';
            background: url("../images/line1.png") 0/100% no-repeat;
            transform: rotate(-90deg);
            width: 5px;
            height: 178px;
            position: absolute;
            bottom: -32px;
            left: -60px;
          } 
        }
        &:nth-child(odd){
          .icon-level{
            right: -59px;
          }
        }
        &:nth-child(even){
          padding-left: 235px;
          margin-top: 270px;
          .icon-level{
            left: -59px;
            &::after{
              left: auto;
              right: -60px;
            }
          }
        }
        &:nth-child(3){
          margin-top: -100px;
        }
        &.active{
          .icon-level{
            background: url("../images/icon-time-act.png") 0/100% no-repeat;
          }
        }
      }
    }
  }
  .section7{
    background: url("../images/bg7.jpg") 50% 0 no-repeat;
    min-height: 2803px;
    .title-6{
      display: block;
      background: url("../images/title-6.png") 0/100% no-repeat;
      width: 1100px;
      height: 99px;
      margin: 0 auto;
    }
  }
  
}